.container {
    color: rgb(11, 6, 96);
    height: 300px;
    width: 100%;
    background-color: rgb(42, 120, 238);
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
  
.containerTexto {
    text-align: center; /* Alinea el texto al centro */
}


.containerTexto h1{
    font-size: 45px;
}

.containerTexto h2{
    font-size: 25px;
}

.containerTexto p{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #ffff;
}
  
.containerSpan {
    position: absolute;
    top: 230px;
}


.containerSpan span {
    width: 200px;
    font-size: 15px;
    border-radius: 20px;
    margin-right: 50px;
    padding: 5px 15px;
    color: #ffff;
    background-color: rgb(3, 3, 72);
}
  
  