.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 35, 20);
    margin-top: 50px;
    border-top: 2px solid gray;
    color: rgb(248, 242, 242);
    height: 200px;
  }

  .iconContainer1{
    margin-left: 30%;
  }

  .iconContainer1 span{
    font-size: 19px;
  }
  .iconContainer span{
    font-size: 19px;
  }



  .iconContainer1,
  .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 10px; /* Espacio entre cada icono y su texto */
  }

  
  
  .icons {
    color: rgb(248, 249, 251);
    font-size: 30px;
    cursor: pointer;
  }
  
  .container img {
    width: 2.5%;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
    .iconContainer {
      margin-right: 20px; /* Espacio entre cada iconContainer */
    }

    .logoFooter{
      margin-top: 150px;
      left: 750px;
    position: absolute;
    }

   /*  .logoFooteSpan{
      margin-bottom: 150px;
      margin-left: 10px;
    } */
  }
  